{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
